* {
  font-family: 'Montserrat', sans-serif;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

body {
  background: #f5f6f8; }

a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#main {
  overflow: hidden; }

h1 {
  color: black;
  font-size: 72px;
  line-height: 80px;
  font-weight: 100; }

@media (max-width: 768px) {
  h1 {
    font-size: 50px !important;
    line-height: 60px !important;
    font-weight: 200; } }

#divider {
  background: white; }
  #divider .container {
    padding: 105px 15px 100px;
    text-align: center; }
    #divider .container h1 {
      margin: 0; }
    #divider .container p {
      color: #232323;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      max-width: 450px;
      margin: 45px auto 0; }

#divider-second {
  background: white; }
  #divider-second .container {
    text-align: center;
    padding: 70px 15px; }

@media (max-width: 768px) {
  #divider .container, #divider-second .container {
    padding: 50px 15px !important; }
    #divider .container p, #divider-second .container p {
      margin-top: 20px !important; } }
