* {
  font-family: 'Montserrat', sans-serif;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

body {
  background: #f5f6f8; }

a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#main {
  overflow: hidden; }

h1 {
  color: black;
  font-size: 72px;
  line-height: 80px;
  font-weight: 100; }

@media (max-width: 768px) {
  h1 {
    font-size: 50px !important;
    line-height: 60px !important;
    font-weight: 200; } }

#features-second .container .row-custom {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 110px 0 100px; }
  #features-second .container .row-custom .item {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 33.3%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #features-second .container .row-custom .item h4, #features-second .container .row-custom .item p, #features-second .container .row-custom .item a {
      color: #232323;
      font-weight: 400; }
    #features-second .container .row-custom .item h4 {
      font-size: 16px;
      margin: 0; }
    #features-second .container .row-custom .item p {
      font-size: 14px;
      line-height: 22px;
      opacity: 0.5;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin: 20px 0; }
    #features-second .container .row-custom .item a {
      font-size: 12px;
      text-transform: uppercase; }
    #features-second .container .row-custom .item:first-child {
      padding-right: 100px; }
    #features-second .container .row-custom .item:nth-child(2) {
      padding: 0 50px; }
    #features-second .container .row-custom .item:last-child {
      padding-left: 100px; }

@media (max-width: 992px) {
  #features-second .row-custom {
    padding: 60px 0 !important; }
  #features-second .item {
    padding: 0 20px 0 !important; } }

@media (max-width: 768px) {
  #features-second .row-custom {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 20px !important; }
  #features-second .item {
    width: 100% !important;
    padding: 0 0 35px !important; }
  #features-second p {
    margin: 10px 0 !important; } }
