* {
  font-family: 'Montserrat', sans-serif;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

body {
  background: #f5f6f8; }

a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#main {
  overflow: hidden; }

h1 {
  color: black;
  font-size: 72px;
  line-height: 80px;
  font-weight: 100; }

@media (max-width: 768px) {
  h1 {
    font-size: 50px !important;
    line-height: 60px !important;
    font-weight: 200; } }

#features .container {
  padding-bottom: 130px; }
  #features .container .row-custom {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #features .container .row-custom .item {
      text-align: center;
      width: 33.3%;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      #features .container .row-custom .item .image {
        width: 100%;
        text-align: center;
        display: table;
        height: 61px; }
        #features .container .row-custom .item .image .img {
          display: table-cell;
          vertical-align: middle; }
      #features .container .row-custom .item:first-child {
        padding-left: 0;
        padding-right: 40px; }
      #features .container .row-custom .item:nth-child(2) {
        padding: 0 20px; }
      #features .container .row-custom .item:last-child {
        padding-left: 40px; }
      #features .container .row-custom .item h4, #features .container .row-custom .item p {
        color: #232323;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px; }
      #features .container .row-custom .item h4 {
        display: table;
        margin-top: 23px;
        margin-bottom: 20px;
        width: 100%;
        height: 44px;
        text-transform: uppercase; }
        #features .container .row-custom .item h4 span {
          display: table-cell;
          vertical-align: middle; }
      #features .container .row-custom .item p {
        opacity: 0.5;
        margin-bottom: 17px;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
      #features .container .row-custom .item a {
        color: #232323;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        position: relative;
        display: inline-block;
        padding: 3px 0;
        overflow: hidden; }
        #features .container .row-custom .item a:before, #features .container .row-custom .item a:after {
          content: '';
          height: 1px;
          background: #232323;
          width: 100%;
          position: absolute;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -ms-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s;
          opacity: 0; }
        #features .container .row-custom .item a:before {
          bottom: 0;
          left: -100%; }
        #features .container .row-custom .item a:after {
          top: 0;
          right: -100%; }
        #features .container .row-custom .item a:hover {
          color: black; }
          #features .container .row-custom .item a:hover:before, #features .container .row-custom .item a:hover:after {
            opacity: 1;
            background: black; }
          #features .container .row-custom .item a:hover:before {
            left: 0; }
          #features .container .row-custom .item a:hover:after {
            right: 0; }

@media (max-width: 768px) {
  #features .container {
    padding-bottom: 20px !important; }
  #features .row-custom {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #features .item {
    width: 100% !important;
    padding: 0 0 40px !important; } }
