* {
  font-family: 'Montserrat', sans-serif;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

body {
  background: #f5f6f8; }

a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#main {
  overflow: hidden; }

h1 {
  color: black;
  font-size: 72px;
  line-height: 80px;
  font-weight: 100; }

@media (max-width: 768px) {
  h1 {
    font-size: 50px !important;
    line-height: 60px !important;
    font-weight: 200; } }

#footer {
  background: url("../img/footer-bg.png") no-repeat center/cover;
  background-position: 50% 180px; }
  #footer h1.footer-text {
    color: black;
    font-size: 90px;
    font-weight: 900;
    line-height: 120px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 230px; }
    #footer h1.footer-text span {
      display: block;
      text-align: right;
      margin-right: 11%; }
  #footer .card {
    background: black;
    border-radius: 2px;
    margin-bottom: 130px; }
    #footer .card .row-custom {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 45px 50px 35px 30px; }
      #footer .card .row-custom ul, #footer .card .row-custom .footer-right {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
      #footer .card .row-custom .logo {
        width: 8%;
        text-align: center; }
      #footer .card .row-custom ul {
        padding: 0;
        list-style: none; }
        #footer .card .row-custom ul li {
          margin-bottom: 15px; }
          #footer .card .row-custom ul li a {
            color: white;
            font-size: 12px;
            font-weight: 300;
            text-transform: uppercase; }
      #footer .card .row-custom .footer-right {
        width: 10%;
        text-align: right; }
        #footer .card .row-custom .footer-right p {
          color: rgba(255, 255, 255, 0.3);
          font-size: 11px;
          font-weight: 400;
          text-transform: uppercase; }
          #footer .card .row-custom .footer-right p a {
            color: white;
            display: inline-block;
            margin-left: 5px; }
          #footer .card .row-custom .footer-right p:first-child {
            margin-bottom: 20px; }
        #footer .card .row-custom .footer-right a.my-mail {
          display: inline-block;
          margin-top: 20px;
          color: rgba(255, 255, 255, 0.3); }
          #footer .card .row-custom .footer-right a.my-mail:hover {
            color: white; }
        #footer .card .row-custom .footer-right .icons {
          margin-top: 10px; }
          #footer .card .row-custom .footer-right .icons a i {
            color: rgba(255, 255, 255, 0.3);
            font-size: 22px;
            margin-left: 20px;
            cursor: pointer;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s; }
            #footer .card .row-custom .footer-right .icons a i:hover {
              color: white; }

@media (max-width: 1200px) {
  #footer h1 {
    text-align: center !important; }
    #footer h1 span {
      margin: 0 !important;
      text-align: center !important; } }

@media (max-width: 992px) {
  #footer {
    background-position: 50% 100px !important; }
    #footer .row-custom {
      padding: 35px 30px 25px 15px !important; }
    #footer .footer-right {
      width: 20% !important; }
    #footer h1 {
      font-size: 60px !important;
      line-height: 75px !important; } }

@media (max-width: 768px) {
  #footer {
    background-position: 50% 0 !important; }
    #footer .logo {
      width: 100% !important;
      margin-bottom: 30px; }
    #footer .card {
      margin-bottom: 30px !important; }
    #footer h1 {
      font-size: 40px !important;
      line-height: 50px !important;
      margin-top: 30px !important;
      margin-bottom: 80px !important; }
    #footer ul {
      width: 33.3% !important;
      -webkit-flex-grow: 1 !important;
      -ms-flex-positive: 1 !important;
      flex-grow: 1 !important; }
    #footer .row-custom {
      text-align: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 45px 30px !important; }
    #footer .footer-right {
      width: 100% !important;
      text-align: center !important;
      margin-top: 20px; }
      #footer .footer-right .my-mail {
        display: block !important; }
    #footer i {
      margin: 0 10px !important; } }

@media (max-width: 460px) {
  #footer {
    background: none !important; }
    #footer h1.footer-text {
      font-size: 28px !important;
      line-height: 38px !important;
      margin: 0 !important;
      padding: 50px 0 200px;
      background: url("../img/footer-bg.png") no-repeat center/cover;
      background-position: 50% 100px; }
    #footer .container {
      padding: 0 !important; }
    #footer .card {
      margin-bottom: 0 !important;
      border-radius: 0 !important; }
    #footer ul {
      width: 100% !important; }
    #footer .row-custom {
      text-align: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 45px 30px !important; }
    #footer .footer-right {
      width: 100% !important;
      text-align: center !important;
      margin-top: 20px; }
      #footer .footer-right .my-mail {
        display: block !important; }
    #footer i {
      margin: 0 10px !important; } }
