* {
  font-family: 'Montserrat', sans-serif;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

body {
  background: #f5f6f8; }

a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#main {
  overflow: hidden; }

h1 {
  color: black;
  font-size: 72px;
  line-height: 80px;
  font-weight: 100; }

@media (max-width: 768px) {
  h1 {
    font-size: 50px !important;
    line-height: 60px !important;
    font-weight: 200; } }

#ipad-block .container-fluid {
  max-width: 1370px;
  position: relative; }
  #ipad-block .container-fluid .section-content {
    background: black;
    margin: 0 5%;
    padding: 115px; }
    #ipad-block .container-fluid .section-content .description {
      width: calc(50% + 125px); }
      #ipad-block .container-fluid .section-content .description h1 {
        color: white;
        margin: 0 0 35px; }
      #ipad-block .container-fluid .section-content .description p {
        opacity: 0.5;
        color: white;
        font-weight: 400;
        line-height: 22px;
        max-width: 430px;
        margin: 0 0 165px; }
      #ipad-block .container-fluid .section-content .description a {
        display: inline-block;
        color: black;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        background: #26e6e6;
        border-radius: 25px;
        padding: 18px 50px; }
  #ipad-block .container-fluid .section-carousel {
    position: absolute;
    right: -200px;
    bottom: -120px; }
    #ipad-block .container-fluid .section-carousel .controls {
      position: absolute;
      left: -120px;
      top: calc(50% - 35px); }
      #ipad-block .container-fluid .section-carousel .controls span {
        border: 3px solid white;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        width: 70px;
        height: 70px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 0.2; }
        #ipad-block .container-fluid .section-carousel .controls span i {
          line-height: 63px;
          color: white;
          font-size: 36px;
          margin-right: 3px; }
        #ipad-block .container-fluid .section-carousel .controls span:hover {
          opacity: 1; }

@media (max-width: 1250px) {
  #ipad-block .section-content {
    padding: 55px 55px 80px !important; }
  #ipad-block .description {
    width: 100% !important; }
  #ipad-block img {
    width: 600px; }
  #ipad-block p {
    margin-bottom: 50px !important; } }

@media (max-width: 992px) {
  #ipad-block .container-fluid {
    max-width: 1170px !important; }
  #ipad-block .section-content {
    padding: 55px 55px 80px !important; }
  #ipad-block .description {
    width: 100% !important; }
  #ipad-block .section-carousel {
    display: none; }
  #ipad-block p {
    margin-bottom: 50px !important; } }

@media (max-width: 768px) {
  #ipad-block .section-content {
    padding: 50px 35px !important;
    margin: 0 !important; }
  #ipad-block p {
    max-width: 100% !important;
    margin-bottom: 30px !important; } }

@media (max-width: 460px) {
  #ipad-block .container-fluid {
    padding: 0 !important; }
  #ipad-block .section-content {
    padding: 50px 15px !important; }
  #ipad-block p {
    max-width: 100% !important;
    margin-bottom: 30px !important; } }
