* {
  font-family: 'Montserrat', sans-serif;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

body {
  background: #f5f6f8; }

a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#main {
  overflow: hidden; }

h1 {
  color: black;
  font-size: 72px;
  line-height: 80px;
  font-weight: 100; }

@media (max-width: 768px) {
  h1 {
    font-size: 50px !important;
    line-height: 60px !important;
    font-weight: 200; } }

#iphone-block {
  background: #26e6e6; }
  #iphone-block .container .block-content {
    margin: 75px 0 60px;
    width: 75%;
    position: relative; }
    #iphone-block .container .block-content .block-carousel {
      position: relative; }
      #iphone-block .container .block-content .block-carousel img.bg {
        width: 100%; }
      #iphone-block .container .block-content .block-carousel .carousel-img {
        position: absolute;
        top: 42%;
        left: 0;
        width: 100%;
        text-align: center; }
        #iphone-block .container .block-content .block-carousel .carousel-img img {
          position: relative;
          -webkit-transition: all 0.6s;
          -moz-transition: all 0.6s;
          -ms-transition: all 0.6s;
          -o-transition: all 0.6s;
          transition: all 0.6s;
          opacity: 0;
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
          -ms-transform: scale(0);
          -o-transform: scale(0);
          transform: scale(0); }
          #iphone-block .container .block-content .block-carousel .carousel-img img:last-child {
            right: 49px; }
          #iphone-block .container .block-content .block-carousel .carousel-img img:first-child {
            left: 49px; }
          #iphone-block .container .block-content .block-carousel .carousel-img img.active {
            opacity: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1); }
      #iphone-block .container .block-content .block-carousel .controls {
        position: absolute;
        left: -5%;
        width: 70%;
        margin: 0 15%;
        top: 40%;
        -webkit-transform: rotate(-35deg) skew(12deg);
        -moz-transform: rotate(-35deg) skew(12deg);
        -ms-transform: rotate(-35deg) skew(12deg);
        -o-transform: rotate(-35deg) skew(12deg);
        transform: rotate(-35deg) skew(12deg);
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        #iphone-block .container .block-content .block-carousel .controls .prev, #iphone-block .container .block-content .block-carousel .controls .next {
          -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
          flex-grow: 1; }
        #iphone-block .container .block-content .block-carousel .controls .prev i {
          margin-right: 3px; }
        #iphone-block .container .block-content .block-carousel .controls .next {
          text-align: right; }
          #iphone-block .container .block-content .block-carousel .controls .next i {
            margin-left: 3px; }
        #iphone-block .container .block-content .block-carousel .controls span {
          border: 3px solid rgba(255, 255, 255, 0.4);
          border-radius: 50%;
          text-align: center;
          display: inline-block;
          width: 70px;
          height: 70px;
          cursor: pointer;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
          #iphone-block .container .block-content .block-carousel .controls span i {
            line-height: 63px;
            color: white;
            font-size: 36px; }
          #iphone-block .container .block-content .block-carousel .controls span:hover {
            border-color: white; }
    #iphone-block .container .block-content .card {
      position: absolute;
      right: -33%;
      top: 0;
      background: white;
      border-radius: 2px; }
      #iphone-block .container .block-content .card .card-items {
        padding: 50px 45px 15px 35px;
        max-width: 390px; }
        #iphone-block .container .block-content .card .card-items .item {
          padding: 0 0 40px 80px;
          position: relative; }
          #iphone-block .container .block-content .card .card-items .item h3, #iphone-block .container .block-content .card .card-items .item p {
            color: #232323;
            font-weight: 400;
            line-height: 24px; }
          #iphone-block .container .block-content .card .card-items .item h3 {
            margin: 0 0 10px;
            font-size: 18px; }
          #iphone-block .container .block-content .card .card-items .item p {
            opacity: 0.5;
            font-size: 14px;
            margin: 0; }
          #iphone-block .container .block-content .card .card-items .item:before {
            position: absolute;
            left: 0;
            top: -12px; }
          #iphone-block .container .block-content .card .card-items .item:first-child:before {
            content: url("../img/iphone1.png"); }
          #iphone-block .container .block-content .card .card-items .item:nth-child(2):before {
            content: url("../img/iphone2.png"); }
          #iphone-block .container .block-content .card .card-items .item:last-child:before {
            content: url("../img/fe2.png"); }
      #iphone-block .container .block-content .card a {
        display: block;
        background: #232323;
        text-align: center;
        color: white;
        text-transform: uppercase;
        padding: 21px;
        font-size: 12px;
        font-weight: 400; }

@media (max-width: 1200px) {
  #iphone-block .block-content {
    margin: 75px 0 130px !important; } }

@media (max-width: 992px) {
  #iphone-block .block-content {
    margin: 65px 0 70px !important;
    width: 100% !important; }
  #iphone-block .block-carousel {
    width: 80% !important;
    margin: 0 auto; }
  #iphone-block .controls {
    width: 80% !important;
    top: 42.5% !important; }
  #iphone-block .card {
    position: relative !important;
    right: 0 !important;
    margin-top: 30px; }
  #iphone-block .card-items {
    max-width: 100% !important; } }

@media (max-width: 768px) {
  #iphone-block {
    background: #f5f6f8; }
    #iphone-block .container {
      padding-bottom: 70px !important; }
    #iphone-block .block-content {
      margin: 0 !important; }
    #iphone-block .block-carousel {
      display: none; }
    #iphone-block .card {
      margin-top: 0 !important; }
    #iphone-block .card-items {
      padding: 35px 25px 15px !important; } }

@media (max-width: 460px) {
  #iphone-block .container {
    padding: 0 !important;
    text-align: center; }
  #iphone-block .card-items {
    padding: 120px 15px 10px !important; }
  #iphone-block .item {
    padding: 0 0 110px !important; }
    #iphone-block .item:before {
      top: -75px !important;
      left: 40% !important; }
    #iphone-block .item:last-child {
      padding-bottom: 20px !important; } }
