* {
  font-family: 'Montserrat', sans-serif;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

body {
  background: #f5f6f8; }

a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#main {
  overflow: hidden; }

h1 {
  color: black;
  font-size: 72px;
  line-height: 80px;
  font-weight: 100; }

@media (max-width: 768px) {
  h1 {
    font-size: 50px !important;
    line-height: 60px !important;
    font-weight: 200; } }

#navigation {
  background: none;
  border: none;
  border-radius: 0;
  margin: 0;
  padding-top: 47px;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s; }
  #navigation .container a.navbar-brand {
    position: relative;
    bottom: 6px; }
  #navigation .container #bs-example-navbar-collapse-1 ul li {
    padding: 0 15px; }
    #navigation .container #bs-example-navbar-collapse-1 ul li a {
      color: #232323;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      opacity: 0.5;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      padding: 15px 0; }
      #navigation .container #bs-example-navbar-collapse-1 ul li a b.caret {
        position: relative;
        bottom: 1px;
        border-top: 3px solid;
        border-right: 3px solid transparent;
        border-left: 3px solid transparent;
        margin-left: 4px; }
      #navigation .container #bs-example-navbar-collapse-1 ul li a:active, #navigation .container #bs-example-navbar-collapse-1 ul li a:focus {
        background: none; }
    #navigation .container #bs-example-navbar-collapse-1 ul li.nav-btn a {
      margin-top: 4px;
      background: #232323;
      color: white;
      opacity: 1;
      padding: 15px 20px;
      line-height: 12px; }
      #navigation .container #bs-example-navbar-collapse-1 ul li.nav-btn a:hover {
        background: black; }
    #navigation .container #bs-example-navbar-collapse-1 ul li.active a, #navigation .container #bs-example-navbar-collapse-1 ul li:hover a {
      opacity: 1; }
  #navigation.sticky {
    padding-top: 5px !important;
    padding-bottom: 5px;
    top: 0;
    background: rgba(245, 246, 248, 0.95);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 1px 1px rgba(0, 0, 0, 0.06); }
    #navigation.sticky #bs-example-navbar-collapse-1 ul li a {
      opacity: 0.7; }

@media (max-width: 768px) {
  #navigation {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    top: 0 !important;
    background: rgba(245, 246, 248, 0.95) !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 1px 1px rgba(0, 0, 0, 0.06) !important; }
    #navigation .navbar-toggle {
      border: none !important; }
      #navigation .navbar-toggle span {
        background: #232323 !important; }
      #navigation .navbar-toggle:hover, #navigation .navbar-toggle:focus, #navigation .navbar-toggle:active {
        background: none; }
    #navigation .navbar-collapse.collapse, #navigation .collapsing, #navigation .in {
      height: 100vh;
      max-height: 100vh; }
    #navigation li {
      text-align: center; }
      #navigation li a {
        opacity: 1 !important;
        display: inline-block;
        position: relative;
        font-size: 16px !important; }
        #navigation li a b {
          position: absolute !important;
          top: 18px;
          right: -11px; }
    #navigation .nav-btn a {
      text-align: center; } }
