* {
  font-family: 'Montserrat', sans-serif;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

body {
  background: #f5f6f8; }

a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#main {
  overflow: hidden; }

h1 {
  color: black;
  font-size: 72px;
  line-height: 80px;
  font-weight: 100; }

@media (max-width: 768px) {
  h1 {
    font-size: 50px !important;
    line-height: 60px !important;
    font-weight: 200; } }

#platform .container {
  padding: 220px 15px 0; }
  #platform .container h6 {
    color: black;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    text-align: center; }
  #platform .container p.description {
    color: #232323;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin: 30px 0 65px;
    text-align: center; }
  #platform .container .row-custom {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #platform .container .row-custom .item {
      padding: 0 80px 50px 80px;
      position: relative;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      width: 33.3%; }
      #platform .container .row-custom .item:before {
        position: absolute;
        left: 0;
        top: 15px; }
      #platform .container .row-custom .item h4 {
        color: #232323;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px; }
      #platform .container .row-custom .item p {
        opacity: 0.5;
        color: #232323;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px; }
      #platform .container .row-custom .item:first-child:before {
        content: url("../img/platform1.png"); }
      #platform .container .row-custom .item:nth-child(2):before {
        content: url("../img/platform2.png"); }
      #platform .container .row-custom .item:nth-child(3):before {
        content: url("../img/platform3.png");
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0;
        left: 8px;
        -webkit-transform-origin: 50%  51%; }
      #platform .container .row-custom .item:nth-child(4):before {
        content: url("../img/platform4.png"); }
      #platform .container .row-custom .item:nth-child(5):before {
        content: url("../img/platform5.png"); }
      #platform .container .row-custom .item:last-child:before {
        content: url("../img/platform6.png"); }

@media (max-width: 992px) {
  #platform .container {
    padding-top: 70px !important; }
  #platform .item {
    width: 50% !important;
    padding-bottom: 30px !important; } }

@media (max-width: 768px) {
  #platform .item {
    width: 100% !important;
    padding-right: 0 !important;
    padding-bottom: 20px !important; } }
