* {
  font-family: 'Montserrat', sans-serif;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

body {
  background: #f5f6f8; }

a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#main {
  overflow: hidden; }

h1 {
  color: black;
  font-size: 72px;
  line-height: 80px;
  font-weight: 100; }

@media (max-width: 768px) {
  h1 {
    font-size: 50px !important;
    line-height: 60px !important;
    font-weight: 200; } }

#prices .container .row-custom {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  margin: 80px auto 0; }
  #prices .container .row-custom .item {
    width: 33.3%;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    #prices .container .row-custom .item .content {
      text-align: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 40px 55px;
      min-height: 100%; }
      #prices .container .row-custom .item .content h6 {
        color: black;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0; }
      #prices .container .row-custom .item .content span {
        color: black;
        font-size: 50px;
        font-weight: 900;
        text-transform: uppercase;
        margin: 30px 0 25px; }
        #prices .container .row-custom .item .content span:before {
          content: '$';
          margin-right: 5px; }
      #prices .container .row-custom .item .content p {
        opacity: 0.5;
        color: black;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 30px;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
      #prices .container .row-custom .item .content a {
        color: black;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 18px 50px; }
    #prices .container .row-custom .item.active .content {
      background: black;
      border-radius: 2px; }
      #prices .container .row-custom .item.active .content h6, #prices .container .row-custom .item.active .content span, #prices .container .row-custom .item.active .content p, #prices .container .row-custom .item.active .content a {
        color: white; }
      #prices .container .row-custom .item.active .content a {
        display: inline-block;
        color: black;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        background: #26e6e6;
        border-radius: 25px;
        margin: 0 auto; }

@media (max-width: 1200px) {
  #prices .row-custom {
    max-width: 100% !important; }
  #prices .content {
    padding: 40px !important; } }

@media (max-width: 992px) {
  #prices .content {
    padding: 40px 20px !important; }
  #prices span {
    font-size: 40px !important; } }

@media (max-width: 768px) {
  #prices .row-custom {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 50px !important; }
  #prices .item {
    width: 100% !important; }
  #prices .content {
    padding: 40px 15px !important; } }
