* {
  font-family: 'Montserrat', sans-serif;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

body {
  background: #f5f6f8; }

a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#main {
  overflow: hidden; }

h1 {
  color: black;
  font-size: 72px;
  line-height: 80px;
  font-weight: 100; }

@media (max-width: 768px) {
  h1 {
    font-size: 50px !important;
    line-height: 60px !important;
    font-weight: 200; } }

#quotes {
  padding: 40px 0 100px; }
  #quotes .owl-carousel .quote {
    background: white;
    border-radius: 2px;
    text-align: center;
    padding: 75px 100px 60px;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    position: relative;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    cursor: all-scroll; }
    #quotes .owl-carousel .quote i {
      color: rgba(35, 35, 35, 0.2);
      font-size: 40px;
      position: absolute; }
      #quotes .owl-carousel .quote i:first-child {
        left: 40px;
        top: 40px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }
      #quotes .owl-carousel .quote i:last-of-type {
        right: 40px;
        bottom: 40px; }
    #quotes .owl-carousel .quote p {
      color: #232323;
      font-size: 42px;
      font-weight: 100;
      margin: 0 0 25px;
      line-height: 52px;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
    #quotes .owl-carousel .quote span {
      color: black;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase; }

.owl-stage {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .owl-stage .owl-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.owl-theme .owl-dots {
  margin-top: 20px !important; }
  .owl-theme .owl-dots .owl-dot span {
    background: rgba(63, 63, 63, 0.2); }
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #3f3f3f; }
  .owl-theme .owl-dots .owl-dot.active span {
    background: #3f3f3f; }

@media (max-width: 1599px) {
  #quotes .quote {
    padding: 70px 70px 45px !important; }
  #quotes i:first-child {
    left: 25px !important;
    top: 25px !important; }
  #quotes i:last-of-type {
    right: 25px !important;
    bottom: 25px !important; }
  #quotes p {
    font-size: 30px !important;
    line-height: 40px !important; } }

@media (max-width: 1150px) {
  #quotes .quote {
    padding: 50px 50px 35px !important; }
  #quotes i {
    font-size: 30px !important; }
    #quotes i:first-child {
      left: 15px !important;
      top: 15px !important; }
    #quotes i:last-of-type {
      right: 15px !important;
      bottom: 15px !important; }
  #quotes p {
    font-size: 20px !important;
    line-height: 32px !important; }
  #quotes span {
    font-size: 11px !important; } }

@media (max-width: 768px) {
  #quotes {
    padding-bottom: 40px !important; }
    #quotes .quote {
      padding: 60px 15px 35px !important; }
    #quotes i {
      font-size: 35px !important; }
      #quotes i:first-child {
        left: 47% !important;
        top: 15px !important; }
      #quotes i:last-of-type {
        display: none; }
    #quotes p {
      font-size: 18px !important;
      line-height: 28px !important; } }
