* {
  font-family: 'Montserrat', sans-serif;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

body {
  background: #f5f6f8; }

a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#main {
  overflow: hidden; }

h1 {
  color: black;
  font-size: 72px;
  line-height: 80px;
  font-weight: 100; }

@media (max-width: 768px) {
  h1 {
    font-size: 50px !important;
    line-height: 60px !important;
    font-weight: 200; } }

#welcome {
  background: url("../img/welcome-bg.png") no-repeat center/cover;
  height: 100vh; }
  #welcome .container {
    padding-top: 30vh; }
    #welcome .container h1 {
      margin: 0 0 12px;
      text-transform: uppercase; }
    #welcome .container p {
      color: #232323;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      padding-left: 8px; }

@media (max-width: 768px) {
  #welcome p {
    font-weight: 500 !important; } }
