@import "main"

#divider
  background: white
  .container
    padding: 105px 15px 100px
    text-align: center
    h1
      margin: 0
    p
      color: $black
      font-size: 18px
      font-weight: 400
      line-height: 26px
      max-width: 450px
      margin: 45px auto 0

#divider-second
  background: white
  .container
    text-align: center
    padding: 70px 15px


//responsiveness
@media (max-width: 768px)
  #divider, #divider-second
    .container
      padding: 50px 15px!important
      p
        margin-top: 20px!important