@import "main"

#do-it
  padding-bottom: 200px
  .container
    p
      color: black
      font-size: 26px
      font-weight: 900
      line-height: 80px
      text-transform: uppercase
      text-align: center

    .row-custom
      display: flex
      flex-wrap: wrap
      .item
        height: 480px
        width: 50%
        padding: 20px
        -webkit-transition: all 0.1s
        -moz-transition: all 0.1s
        -ms-transition: all 0.1s
        -o-transition: all 0.1s
        transition: all 0.1s
        -webkit-transform: translateZ(0)
        -moz-transform: translateZ(0)
        -ms-transform: translateZ(0)
        -o-transform: translateZ(0)
        transform: translateZ(0)

        &:first-child
          width: 25%
          .content
            background: url("https://picjumbo.imgix.net/HNCK9712.jpg?q=40&w=1650&sharp=30") no-repeat center/cover

        &:nth-child(2)
          width: 75%
          .content
            background: url("https://picjumbo.imgix.net/DSC02520.jpg?q=40&w=1650&sharp=30") no-repeat center/cover

        &:nth-child(3)
          width: 100%
          height: 260px
          .content
            background: url("https://picjumbo.imgix.net/HNCK2701.jpg?q=40&w=1650&sharp=30") no-repeat center/cover

        &:nth-child(4)
          .content
            background: url("https://picjumbo.imgix.net/DSC01106.jpg?q=40&w=1650&sharp=30") no-repeat center/cover

        &:last-child
          .content
            background: url("https://picjumbo.imgix.net/HNCK4003.jpg?q=40&w=1650&sharp=30") no-repeat center/cover



      .content
        display: block
        height: 100%
        position: relative
        -webkit-transition: all 0.5s
        -moz-transition: all 0.5s
        -ms-transition: all 0.5s
        -o-transition: all 0.5s
        transition: all 0.5s
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
        .inner-shadow
          position: absolute
          left: 0
          right: 0
          top: 0
          bottom: 0
          text-align: center
          background: rgba(0, 0, 0, 0.7)
          opacity: 0
          -webkit-transition: all 0.5s
          -moz-transition: all 0.5s 
          -ms-transition: all 0.5s 
          -o-transition: all 0.5s 
          transition: all 0.5s 
          .link
            position: absolute
            left: 0
            right: 0
            top: calc(50% - 23.5px)
            text-align: center
            a
              display: inline-block
              color: black
              font-size: 12px
              font-weight: 400
              text-transform: uppercase
              background: $turquoise
              padding: 15px 17px
              border-radius: 2px
        &:hover
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
          .inner-shadow
            opacity: 1



//responsiveness

@media (max-width: 992px)
  #do-it
    .item
      padding: 10px!important


@media (max-width: 768px)
  #do-it
    padding-bottom: 70px!important
    .item
      width: 100%!important
      height: 200px!important
      padding: 0!important
      margin-bottom: 25px!important