@import "main"

#features-second
  .container
    .row-custom
      display: flex
      padding: 110px 0 100px
      .item
        flex-grow: 1
        width: 33.3%
        display: flex
        flex-direction: column
        h4, p, a
          color: $black
          font-weight: 400
        h4
          font-size: 16px
          margin: 0
        p
          font-size: 14px
          line-height: 22px
          opacity: 0.5
          flex-grow: 1
          margin: 20px 0
        a
          font-size: 12px
          text-transform: uppercase
        &:first-child
          padding-right: 100px
        &:nth-child(2)
          padding: 0 50px
        &:last-child
          padding-left: 100px


//responsiveness

@media (max-width: 992px)
  #features-second
    .row-custom
      padding: 60px 0!important
    .item
      padding: 0 20px 0!important

@media (max-width: 768px)
  #features-second
    .row-custom
      flex-wrap: wrap
      padding-bottom: 20px!important
    .item
      width: 100%!important
      padding: 0 0 35px!important
    p
      margin: 10px 0!important