@import "main"

#features
  .container
    padding-bottom: 130px
    .row-custom
      display: flex
      .item
        text-align: center
        width: 33.3%
        flex-grow: 1
        display: flex
        flex-direction: column
        .image
          width: 100%
          text-align: center
          display: table
          height: 61px
          .img
            display: table-cell
            vertical-align: middle
        &:first-child
          padding-left: 0
          padding-right: 40px
        &:nth-child(2)
          padding: 0 20px
        &:last-child
          padding-left: 40px
        h4, p
          color: $black
          font-size: 14px
          font-weight: 400
          line-height: 22px
        h4
          display: table
          margin-top: 23px
          margin-bottom: 20px
          width: 100%
          height: 44px
          text-transform: uppercase
          span
            display: table-cell
            vertical-align: middle

        p
          opacity: 0.5
          margin-bottom: 17px
          flex-grow: 1
        a
          color: $black
          font-size: 12px
          font-weight: 400
          text-transform: uppercase
          -webkit-transition: all 0.4s
          -moz-transition: all 0.4s
          -ms-transition: all 0.4s
          -o-transition: all 0.4s
          transition: all 0.4s
          position: relative
          display: inline-block
          padding: 3px 0
          overflow: hidden
          &:before, &:after
            content: ''
            height: 1px
            background: $black
            width: 100%
            position: absolute
            -webkit-transition: all 0.4s
            -moz-transition: all 0.4s
            -ms-transition: all 0.4s
            -o-transition: all 0.4s
            transition: all 0.4s
            opacity: 0
          &:before
            bottom: 0
            left: -100%
          &:after
            top: 0
            right: -100%

          &:hover
            color: black
            &:before, &:after
              opacity: 1
              background: black
            &:before
              left: 0
            &:after
              right: 0


//responsiveness

@media (max-width: 768px)
  #features
    .container
      padding-bottom: 20px!important
    .row-custom
      flex-wrap: wrap
    .item
      width: 100%!important
      padding: 0 0 40px!important