@import "main"

#footer
  background: url("../img/footer-bg.png") no-repeat center/cover
  background-position: 50% 180px

  h1.footer-text
    color: black
    font-size: 90px
    font-weight: 900
    line-height: 120px
    text-transform: uppercase
    text-align: center
    margin-top: 120px
    margin-bottom: 230px
    span
      display: block
      text-align: right
      margin-right: 11%

  .card
    background: black
    border-radius: 2px
    margin-bottom: 130px
    .row-custom
      display: flex
      padding: 45px 50px 35px 30px
      ul, .footer-right
        flex-grow: 1
      .logo
        width: 8%
        text-align: center
      ul
        padding: 0
        list-style: none
        li
          margin-bottom: 15px
          a
            color: white
            font-size: 12px
            font-weight: 300
            text-transform: uppercase

      .footer-right
        width: 10%
        text-align: right
        p
          color: rgba(255, 255, 255, 0.3)
          font-size: 11px
          font-weight: 400
          text-transform: uppercase
          a
            color: white
            display: inline-block
            margin-left: 5px
          &:first-child
            margin-bottom: 20px
        a.my-mail
          display: inline-block
          margin-top: 20px
          color: rgba(255, 255, 255, 0.3)
          &:hover
            color: white
        .icons
          margin-top: 10px
          a
            i
              color: rgba(255, 255, 255, 0.3)
              font-size: 22px
              margin-left: 20px
              cursor: pointer
              -webkit-transition: all 0.3s
              -moz-transition: all 0.3s
              -ms-transition: all 0.3s
              -o-transition: all 0.3s
              transition: all 0.3s
              &:hover
                color: white


//responsiveness

@media (max-width: 1200px)
  #footer
    h1
      text-align: center!important
      span
        margin: 0!important
        text-align: center!important

@media (max-width: 992px)
  #footer
    background-position: 50% 100px!important
    .row-custom
      padding: 35px 30px 25px 15px!important
    .footer-right
      width: 20%!important
    h1
      font-size: 60px!important
      line-height: 75px!important


@media (max-width: 768px)
  #footer
    background-position: 50% 0!important
    .logo
      width: 100%!important
      margin-bottom: 30px
    .card
      margin-bottom: 30px!important
    h1
      font-size: 40px!important
      line-height: 50px!important
      margin-top: 30px!important
      margin-bottom: 80px!important
    ul
      width: 33.3%!important
      flex-grow: 1!important
    .row-custom
      text-align: center
      flex-wrap: wrap
      padding: 45px 30px!important
    .footer-right
      width: 100%!important
      text-align: center!important
      margin-top: 20px
      .my-mail
        display: block!important
    i
      margin: 0 10px!important



@media (max-width: 460px)
  #footer
    background: none!important
    h1.footer-text
      font-size: 28px!important
      line-height: 38px!important
      margin: 0!important
      padding: 50px 0 200px
      background: url("../img/footer-bg.png") no-repeat center/cover
      background-position: 50% 100px
    .container
      padding: 0!important
    .card
      margin-bottom: 0!important
      border-radius: 0!important
    ul
      width: 100%!important
    .row-custom
      text-align: center
      flex-wrap: wrap
      padding: 45px 30px!important
    .footer-right
      width: 100%!important
      text-align: center!important
      margin-top: 20px
      .my-mail
        display: block!important
    i
      margin: 0 10px!important