@import "main"

#ipad-block
  .container-fluid
    max-width: 1370px
    position: relative
    .section-content
      background: black
      margin: 0 5%
      padding: 115px
      .description
        width: calc(50% + 125px)
        h1
          color: white
          margin: 0 0 35px
        p
          opacity: 0.5
          color: white
          font-weight: 400
          line-height: 22px
          max-width: 430px
          margin: 0 0 165px
        a
          display: inline-block
          color: black
          font-size: 12px
          font-weight: 400
          text-transform: uppercase
          background: $turquoise
          border-radius: 25px
          padding: 18px 50px

    .section-carousel
      position: absolute
      right: -200px
      bottom: -120px

      .controls

        position: absolute
        left: -120px
        top: calc(50% - 35px)

        span
          border: 3px solid white
          border-radius: 50%
          text-align: center
          display: inline-block
          width: 70px
          height: 70px
          cursor: pointer
          -webkit-transition: all 0.3s
          -moz-transition: all 0.3s
          -ms-transition: all 0.3s
          -o-transition: all 0.3s
          transition: all 0.3s
          opacity: 0.2
          i
            line-height: 63px
            color: white
            font-size: 36px
            margin-right: 3px
          &:hover
            opacity: 1


//responsibeness
@media (max-width: 1250px)
  #ipad-block
    .section-content
      padding: 55px 55px 80px!important
    .description
      width: 100%!important
    img
      width: 600px
    p
      margin-bottom: 50px!important

@media (max-width: 992px)
  #ipad-block

    .container-fluid
      max-width: 1170px!important
    .section-content
      padding: 55px 55px 80px!important
    .description
      width: 100%!important
    .section-carousel
      display: none
    p
      margin-bottom: 50px!important



@media (max-width: 768px)
  #ipad-block
    .section-content
      padding: 50px 35px!important
      margin: 0!important
    p
      max-width: 100%!important
      margin-bottom: 30px!important

@media (max-width: 460px)
  #ipad-block
    .container-fluid
      padding: 0!important
    .section-content
      padding: 50px 15px!important
    p
      max-width: 100%!important
      margin-bottom: 30px!important