@import "main"

#iphone-block
  background: $turquoise
  .container
    .block-content
      margin: 75px 0 60px
      width: 75%
      position: relative
      .block-carousel
        position: relative
        img
          &.bg
            width: 100%
        .carousel-img
          position: absolute
          top: 42%
          left: 0
          width: 100%
          text-align: center
          img
            position: relative
            -webkit-transition: all 0.6s
            -moz-transition: all 0.6s
            -ms-transition: all 0.6s
            -o-transition: all 0.6s
            transition: all 0.6s
            opacity: 0
            -webkit-transform: scale(0)
            -moz-transform: scale(0)
            -ms-transform: scale(0)
            -o-transform: scale(0)
            transform: scale(0)
            &:last-child
              right: 49px
            &:first-child
              left: 49px
            &.active
              opacity: 1
              -webkit-transform: scale(1)
              -moz-transform: scale(1)
              -ms-transform: scale(1)
              -o-transform: scale(1)
              transform: scale(1)


        .controls
          position: absolute
          left: -5%
          width: 70%
          margin: 0 15%
          top: 40%
          -webkit-transform: rotate(-35deg) skew(12deg)
          -moz-transform: rotate(-35deg) skew(12deg)
          -ms-transform: rotate(-35deg) skew(12deg)
          -o-transform: rotate(-35deg) skew(12deg)
          transform: rotate(-35deg) skew(12deg)
          display: flex
          .prev, .next
            flex-grow: 1
          .prev
            i
              margin-right: 3px
          .next
            text-align: right
            i
              margin-left: 3px

          span
            border: 3px solid rgba(255, 255, 255, 0.4)
            border-radius: 50%
            text-align: center
            display: inline-block
            width: 70px
            height: 70px
            cursor: pointer
            -webkit-transition: all 0.3s
            -moz-transition: all 0.3s
            -ms-transition: all 0.3s
            -o-transition: all 0.3s
            transition: all 0.3s
            i
              line-height: 63px
              color: white
              font-size: 36px
            &:hover
              border-color: white



      .card
        position: absolute
        right: -33%
        top: 0
        background: white
        border-radius: 2px
        .card-items
          padding: 50px 45px 15px 35px
          max-width: 390px
          .item
            padding: 0 0 40px 80px
            position: relative
            h3, p
              color: $black
              font-weight: 400
              line-height: 24px
            h3
              margin: 0 0 10px
              font-size: 18px
            p
              opacity: 0.5
              font-size: 14px
              margin: 0
            &:before
              position: absolute
              left: 0
              top: -12px
            &:first-child
              &:before
                content: url("../img/iphone1.png")
            &:nth-child(2)
              &:before
                content: url("../img/iphone2.png")
            &:last-child
              &:before
                content: url("../img/fe2.png")

        a
          display: block
          background: $black
          text-align: center
          color: white
          text-transform: uppercase
          padding: 21px
          font-size: 12px
          font-weight: 400


//responsiveness
@media (max-width: 1200px)
  #iphone-block
    .block-content
      margin: 75px 0 130px!important


@media (max-width: 992px)
  #iphone-block
    .block-content
      margin: 65px 0 70px!important
      width: 100%!important
    .block-carousel
      width: 80%!important
      margin: 0 auto
    .controls
      width: 80%!important
      top: 42.5%!important
    .card
      position: relative!important
      right: 0!important
      margin-top: 30px
    .card-items
      max-width: 100%!important

@media (max-width: 768px)
  #iphone-block
    background: $grey-light
    .container
      padding-bottom: 70px!important
    .block-content
      margin: 0!important
    .block-carousel
      display: none
    .card
      margin-top: 0!important
    .card-items
      padding: 35px 25px 15px!important


@media (max-width: 460px)
  #iphone-block
    .container
      padding: 0!important
      text-align: center
    .card-items
      padding: 120px 15px 10px!important
    .item
      padding: 0 0 110px!important
      &:before
        top: -75px!important
        left: 40%!important
      &:last-child
        padding-bottom: 20px!important

