@import "colors"

*
  font-family: 'Montserrat', sans-serif
  backface-visibility: hidden
  -webkit-backface-visibility: hidden

body
  background: $grey-light

a
  text-decoration: none!important
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s 
  -ms-transition: all 0.3s 
  -o-transition: all 0.3s 
  transition: all 0.3s 

#main
  overflow: hidden

h1
  color: black
  font-size: 72px
  line-height: 80px
  font-weight: 100


//responsiveness

@media (max-width: 768px)
  h1
    font-size: 50px!important
    line-height: 60px!important
    font-weight: 200