@import "main"

#navigation
  background: none
  border: none
  border-radius: 0
  margin: 0
  padding-top: 47px
  -webkit-transition: all 0.7s
  -moz-transition: all 0.7s
  -ms-transition: all 0.7s
  -o-transition: all 0.7s
  transition: all 0.7s

  .container

    a.navbar-brand
      position: relative
      bottom: 6px

    #bs-example-navbar-collapse-1
      ul
        li
          padding: 0 15px
          a
            color: $black
            font-size: 12px
            font-weight: 400
            text-transform: uppercase
            opacity: 0.5
            -webkit-transition: all 0.3s
            -moz-transition: all 0.3s 
            -ms-transition: all 0.3s 
            -o-transition: all 0.3s 
            transition: all 0.3s
            padding: 15px 0
            b.caret
              position: relative
              bottom: 1px
              border-top: 3px solid
              border-right: 3px solid transparent
              border-left: 3px solid transparent
              margin-left: 4px
            &:active, &:focus
              background: none

          &.nav-btn a
            margin-top: 4px
            background: $black
            color: white
            opacity: 1
            padding: 15px 20px
            line-height: 12px
            &:hover
              background: black

          &.active, &:hover
            a
              opacity: 1
  &.sticky
    padding-top: 5px!important
    padding-bottom: 5px
    top: 0
    background: $grey-light-op
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 1px 1px rgba(0, 0, 0, 0.06)
    #bs-example-navbar-collapse-1
      ul li a
        opacity: 0.7


//responsiveness

@media (max-width: 768px)
  #navigation
    padding-top: 5px!important
    padding-bottom: 5px!important
    top: 0!important
    background: $grey-light-op!important
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 1px 1px rgba(0, 0, 0, 0.06)!important

    .navbar-toggle
      border: none!important
      span
        background: $black!important
      &:hover, &:focus, &:active
        background: none

    .navbar-collapse.collapse, .collapsing, .in
      height: 100vh
      max-height: 100vh
    li
      text-align: center
      a
        opacity: 1!important
        display: inline-block
        position: relative
        font-size: 16px!important
        b
          position: absolute!important
          top: 18px
          right: -11px

    .nav-btn
      a
        text-align: center