@import "main"

#platform
  .container
    padding: 220px 15px 0
    h6
      color: black
      font-size: 12px
      font-weight: 500
      text-transform: uppercase
      margin: 0
      text-align: center
    p.description
      color: $black
      font-size: 18px
      font-weight: 400
      line-height: 26px
      margin: 30px 0 65px
      text-align: center

    .row-custom
      display: flex
      flex-wrap: wrap
      .item
        padding: 0 80px 50px 80px
        position: relative
        flex-grow: 1
        width: 33.3%
        &:before
          position: absolute
          left: 0
          top: 15px
        h4
          color: $black
          font-size: 18px
          font-weight: 400
          line-height: 26px
        p
          opacity: 0.5
          color: $black
          font-size: 14px
          font-weight: 400
          line-height: 22px

        &:first-child:before
          content: url("../img/platform1.png")
        &:nth-child(2):before
          content: url("../img/platform2.png")
        &:nth-child(3):before
          content: url("../img/platform3.png")
          -webkit-transform: rotate(90deg)
          -moz-transform: rotate(90deg)
          -ms-transform: rotate(90deg)
          -o-transform: rotate(90deg)
          transform: rotate(90deg)
          top: 0
          left: 8px
          -webkit-transform-origin: 50%  51%
        &:nth-child(4):before
          content: url("../img/platform4.png")
        &:nth-child(5):before
          content: url("../img/platform5.png")
        &:last-child:before
          content: url("../img/platform6.png")

//responsiveness

@media (max-width: 992px)
  #platform
    .container
      padding-top: 70px!important
    .item
      width: 50%!important
      padding-bottom: 30px!important

@media (max-width: 768px)
  #platform
    .item
      width: 100%!important
      padding-right: 0!important
      padding-bottom: 20px!important