@import "main"

#prices
  .container
    .row-custom
      display: flex
      max-width: 90%
      margin: 80px auto 0
      .item
        width: 33.3%
        flex-grow: 1
        .content
          text-align: center
          display: flex
          flex-direction: column
          padding: 40px 55px
          min-height: 100%
          h6
            color: black
            font-size: 12px
            font-weight: 500
            text-transform: uppercase
            margin: 0
          span
            color: black
            font-size: 50px
            font-weight: 900
            text-transform: uppercase
            margin: 30px 0 25px
            &:before
              content: '$'
              margin-right: 5px
          p
            opacity: 0.5
            color: black
            font-size: 14px
            font-weight: 400
            line-height: 22px
            margin-bottom: 30px
            flex-grow: 1
          a
            color: black
            font-size: 12px
            font-weight: 400
            text-transform: uppercase
            padding: 18px 50px

        &.active
          .content
            background: black
            border-radius: 2px
            h6, span, p, a
              color: white
            a
              display: inline-block
              color: black
              font-size: 12px
              font-weight: 400
              text-transform: uppercase
              background: #26e6e6
              border-radius: 25px
              margin: 0 auto


//responsiveness

@media (max-width: 1200px)
  #prices
    .row-custom
      max-width: 100%!important
    .content
      padding: 40px!important


@media (max-width: 992px)
  #prices
    .content
      padding: 40px 20px!important
    span
      font-size: 40px!important

@media (max-width: 768px)
  #prices
    .row-custom
      flex-wrap: wrap
      margin-top: 50px!important
    .item
      width: 100%!important
    .content
      padding: 40px 15px!important
