@import "main"

#quotes
  padding: 40px 0 100px
  .owl-carousel
    .quote
      background: white
      border-radius: 2px
      text-align: center
      padding: 75px 100px 60px
      display: flex
      display: -webkit-flex
      position: relative
      flex-direction: column
      min-height: 100%
      cursor: all-scroll
      i
        color: $black-op
        font-size: 40px
        position: absolute
        &:first-child
          left: 40px
          top: 40px
          -webkit-transform: rotate(180deg)
          -moz-transform: rotate(180deg)
          -ms-transform: rotate(180deg)
          -o-transform: rotate(180deg)
          transform: rotate(180deg)
        &:last-of-type
          right: 40px
          bottom: 40px
      p
        color: $black
        font-size: 42px
        font-weight: 100
        margin: 0 0 25px
        line-height: 52px
        flex-grow: 1
      span
        color: black
        font-size: 12px
        font-weight: 500
        text-transform: uppercase


.owl-stage
  display: flex
  .owl-item
    display: flex

.owl-theme .owl-dots
  margin-top: 20px!important
  .owl-dot
    span
      background: $grey-op
    &:hover span
      background: $grey
    &.active span
      background: $grey


//responsiveness

@media (max-width: 1599px)
  #quotes
    .quote
      padding: 70px 70px 45px!important
    i
      &:first-child
        left: 25px!important
        top: 25px!important
      &:last-of-type
        right: 25px!important
        bottom: 25px!important

    p
      font-size: 30px!important
      line-height: 40px!important




@media (max-width: 1150px)
  #quotes
    .quote
      padding: 50px 50px 35px!important
    i
      font-size: 30px!important
      &:first-child
        left: 15px!important
        top: 15px!important
      &:last-of-type
        right: 15px!important
        bottom: 15px!important

    p
      font-size: 20px!important
      line-height: 32px!important
    span
      font-size: 11px!important



@media (max-width: 768px)
  #quotes
    padding-bottom: 40px!important
    .quote
      padding: 60px 15px 35px!important
    i
      font-size: 35px!important
      &:first-child
        left: 47%!important
        top: 15px!important
      &:last-of-type
        display: none

    p
      font-size: 18px!important
      line-height: 28px!important