@import "main"

#welcome
  background: url("../img/welcome-bg.png") no-repeat center/cover
  height: 100vh
  .container
    padding-top: 30vh
    h1
      margin: 0 0 12px
      text-transform: uppercase
    p
      color: $black
      font-size: 12px
      font-weight: 400
      text-transform: uppercase
      padding-left: 8px


//responsiveness

@media (max-width: 768px)
  #welcome
    p
      font-weight: 500!important